# Byte-comp / optim / D files
_
# C exte
*.so

# Distribution / packaging
.
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pitxt
pip-dethis-directory.txt

# Unit / cov reports

*,co

# Translations

# Dja stuff:
*.

# Sphinx documentation
docs/_bu/

# PyBuild
targe/

backend/framework/confi/qlf.cfg
backend/spe/

# PyCh setting
.ide/

backend/fra/qlf/dbsqlite3
backend/-compose.yml
.vsco/
.mypy_ca*/

fronten/buil/*
front/nodemod/*
frontend/cove/*
fronte/dis/*

dock-com.ym

build
.y

nginnginx-p.conf
global-

jupyt/noteb/.ipynbchec
back/framew/qlf/sta
