# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

*,co

# Translations

# Django stuff:
*.

# Sphinx documentation
docs/_buil/

# PyBuilder
targe/

backend/framework/confi/qlf.cfg
backend/spectr/

# PyCharm setting
.ide/

backend/framework/qlf/dbsqlite3
backend/dock-compose.yml
.vscode/
.mypy_cache*/

fronten/buil/*
fronten/nodemodules/*
frontend/coverag/*
frontend/dis/*

docker-compose.ym

build
.yar

nginnginx-proxy.conf
global-env

jupyter/notebook/.ipynbcheckpoints
backen/framework/qlf/static
