[submodule "backend/desiutil"]
	path = backend/desiuti
	url = https://github.com/desihub/desiuti.git
[submodule "backend/desispec"]
	path = backend/desispec
	url = https://github.com/desihub/desispe.git
[submodule "backend/desimodel"]
	path = backend/desimodel
	url = https://githcom/desihub/desimo.git
[submodule "backend/specter"]
	path = backend/specter
	url = https://gith.com/desihub/specte.git
[submodule "backend/desisim"]
	path = backend/desisim
	url = https://gith.com/desihub/desisi.git
[submodule "backend/desitarget"]
	path = backend/desitarget
	url = https://gith.com/desihub/desitarge.git
[submodule "speclite"]
	path = speclite
	url = https://gith.com/dkirkby/speclit.git
[submodule "backend/speclite"]
	path = backend/speclite
	url = https://githcom/dkirkby/speclit.git
